In [73]:
from function import loadDataset, generalFormatting, addRateo, addFieldWR, addPrevWin, randomSwap

In [92]:
import pandas as pd

In [93]:
dataset = loadDataset("2019")

In [94]:
dataset

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,Lsets,Comment,B365W,B365L,PSW,PSL,MaxW,MaxL,AvgW,AvgL
0,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Dimitrov G.,...,0.0,Completed,1.36,3.00,1.36,3.37,1.42,3.60,1.35,3.18
1,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Raonic M.,...,0.0,Completed,1.18,4.50,1.23,4.68,1.27,4.84,1.22,4.26
2,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Kecmanovic M.,...,0.0,Completed,1.57,2.25,1.67,2.32,1.71,2.40,1.63,2.28
3,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Millman J.,...,1.0,Completed,1.40,2.75,1.41,3.13,1.45,3.20,1.40,2.95
4,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Uchiyama Y.,...,0.0,Completed,2.62,1.44,2.73,1.51,3.26,1.53,2.69,1.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2605,66,London,Masters Cup,2019-11-15,Masters Cup,Indoor,Hard,Round Robin,3,Nadal R.,...,1.0,Completed,1.44,2.75,1.39,3.26,1.48,3.30,1.41,2.93
2606,66,London,Masters Cup,2019-11-15,Masters Cup,Indoor,Hard,Round Robin,3,Zverev A.,...,0.0,Completed,1.90,1.90,2.14,1.79,2.24,2.06,1.92,1.90
2607,66,London,Masters Cup,2019-11-16,Masters Cup,Indoor,Hard,Semifinals,3,Tsitsipas S.,...,0.0,Completed,3.50,1.30,3.75,1.33,3.75,1.40,3.39,1.33
2608,66,London,Masters Cup,2019-11-16,Masters Cup,Indoor,Hard,Semifinals,3,Thiem D.,...,0.0,Completed,1.80,2.00,1.84,2.10,1.87,2.20,1.78,2.06
2609,66,London,Masters Cup,2019-11-17,Masters Cup,Indoor,Hard,The Final,3,Tsitsipas S.,...,1.0,Completed,2.00,1.80,2.00,1.93,2.05,1.93,1.96,1.86

In [95]:
dataset = generalFormatting(dataset)

In [98]:
old = dataset.loc[:10,:]
dataset = dataset.loc[:10,:]

In [99]:
dataset.drop(['P1_S1', 'P2_S1', 'P1_S2', 'P2_S2', 'P1_S3', 'P2_S3', 'P1_S4', 'P2_S4', 'P1_S5', 'P2_S5', 'P1_sets', 'P2_sets', 'P1_B365', 'P2_B365', 'P1_PS', 'P2_PS', 'P1_Max', 'P2_Max', 'P1_Avg', 'P2_Avg'], axis = 1, inplace = True)

In [103]:
randomSwap(dataset, 4)

['Player1', 'Player2', 'P1_Rank', 'P2_Rank', 'P1_Pts', 'P2_Pts', 'P1_WinRateo', 'P2_WinRateo']

# CHECKING RANDOM SWAP

In [101]:
old[["Player1","Player2",'P1_WinRateo', 'P2_WinRateo']]

          Player1        Player2  P1_WinRateo  P2_WinRateo
0     Dimitrov G.    Nishioka Y.     0.500000     0.500000
1       Raonic M.      Bedene A.     0.500000     0.500000
2   Kecmanovic M.       Mayer L.     0.500000     0.500000
3      Millman J.    Sandgren T.     0.500000     0.500000
4     Uchiyama Y.     Humbert U.     0.500000     0.500000
5        Kudla D.       Fritz T.     0.500000     0.500000
6       Chardy J.    Struff J.L.     0.333333     0.666667
7       Murray A.   Duckworth J.     0.666667     0.333333
8      Kyrgios N.    Harrison R.     0.666667     0.333333
9     Tsonga J.W.  Kokkinakis T.     0.500000     0.500000
10   De Minaur A.     Popyrin A.     0.500000     0.500000

In [104]:
dataset[["Player1", "Player2",'P1_WinRateo', 'P2_WinRateo',"target"]]

          Player1        Player2  P1_WinRateo  P2_WinRateo  target
0     Dimitrov G.    Nishioka Y.     0.500000     0.500000       0
1       Bedene A.      Raonic M.     0.500000     0.500000       1
2        Mayer L.  Kecmanovic M.     0.500000     0.500000       1
3      Millman J.    Sandgren T.     0.500000     0.500000       0
4     Uchiyama Y.     Humbert U.     0.500000     0.500000       0
5        Fritz T.       Kudla D.     0.500000     0.500000       1
6       Chardy J.    Struff J.L.     0.333333     0.666667       0
7       Murray A.   Duckworth J.     0.666667     0.333333       0
8     Harrison R.     Kyrgios N.     0.333333     0.666667       1
9   Kokkinakis T.    Tsonga J.W.     0.500000     0.500000       1
10     Popyrin A.   De Minaur A.     0.500000     0.500000       1

Swap seems work correctly

# Checking add rateo

In [96]:
lastYear = loadDataset("2018")
lastYear = generalFormatting(lastYear)

In [97]:
addRateo(lastYear, dataset)

In [85]:
dataset

,Tournament,Date,Series,Round,Player1,Player2,P1_Rank,P2_Rank,P1_Pts,P2_Pts,Court_Indoor,Court_Outdoor,Surface_Clay,Surface_Grass,Surface_Hard,Best of_3,Best of_5,target,P1_WinRateo,P2_WinRateo
0,12,2018-12-31,0,1,Nishioka Y.,Dimitrov G.,75.0,19.0,701.0,1835.0,0,1,0,0,1,1,0,1,0.500000,0.500000
1,12,2018-12-31,0,1,Raonic M.,Bedene A.,18.0,67.0,1855.0,780.0,0,1,0,0,1,1,0,0,0.500000,0.500000
2,12,2018-12-31,0,1,Kecmanovic M.,Mayer L.,131.0,56.0,433.0,895.0,0,1,0,0,1,1,0,0,0.500000,0.500000
3,12,2018-12-31,0,1,Millman J.,Sandgren T.,38.0,61.0,1083.0,814.0,0,1,0,0,1,1,0,0,0.500000,0.500000
4,12,2018-12-31,0,1,Humbert U.,Uchiyama Y.,102.0,185.0,572.0,275.0,0,1,0,0,1,1,0,1,0.500000,0.500000
5,12,2019-01-01,0,1,Kudla D.,Fritz T.,63.0,49.0,810.0,974.0,0,1,0,0,1,1,0,0,0.500000,0.500000
6,12,2019-01-01,0,1,Struff J.L.,Chardy J.,57.0,40.0,875.0,1050.0,0,1,0,0,1,1,0,1,0.666667,0.333333
7,12,2019-01-01,0,1,Murray A.,Duckworth J.,240.0,234.0,200.0,206.0,0,1,0,0,1,1,0,0,0.666667,0.333333
8,12,2019-01-01,0,1,Kyrgios N.,Harrison R.,35.0,62.0,1125.0,810.0,0,1,0,0,1,1,0,0,0.666667,0.333333
9,12,2019-01-01,0,1,Kokkinakis T.,Tsonga J.W.,146.0,239.0,367.0,200.0,0,1,0,0,1,1,0,1,0.500000,0.500000
10,12,2019-01-01,0,1,De Minaur A.,Popyrin A.,31.0,147.0,1298.0,367.0,0,1,0,0,1,1,0,0,0.500000,0.500000

In [86]:
aaa = lastYear[lastYear["Player1"] == "Struff J.L."]
aaa

,Tournament,Date,Series,Round,Player1,Player2,P1_Rank,P2_Rank,P1_Pts,P2_Pts,...,P1_Avg,P2_Avg,Court_Indoor,Court_Outdoor,Surface_Clay,Surface_Grass,Surface_Hard,Best of_3,Best of_5,target
38,47,2018-01-02,0,1,Struff J.L.,Berdych T.,53,19.0,898,2095.0,...,3.14,1.35,0,1,0,0,1,1,0,0
192,7,2018-01-16,4,1,Struff J.L.,Kwon S.W.,55,174.0,870,301.0,...,1.22,4.31,0,1,0,0,1,0,1,0
559,19,2018-02-27,1,1,Struff J.L.,Haider-Maurer A.,56,417.0,905,91.0,...,1.07,8.75,0,1,0,0,1,1,0,0
876,40,2018-04-17,2,1,Struff J.L.,Sugita Y.,61,43.0,855,1160.0,...,1.54,2.47,0,1,1,0,0,1,0,0
890,40,2018-04-18,2,2,Struff J.L.,Fognini F.,61,20.0,855,1840.0,...,3.10,1.37,0,1,1,0,0,1,0,0
965,26,2018-04-24,0,1,Struff J.L.,Zopp J.,61,133.0,830,415.0,...,1.27,3.76,0,1,1,0,0,1,0,0
973,26,2018-04-25,0,2,Struff J.L.,Bublik A.,61,143.0,830,390.0,...,1.22,4.40,0,1,1,0,0,1,0,0
1045,9,2018-05-01,0,1,Struff J.L.,Masur D.,62,401.0,855,101.0,...,1.19,4.62,0,1,1,0,0,1,0,0
1054,9,2018-05-02,0,2,Struff J.L.,Maden Y.,62,119.0,855,458.0,...,1.55,2.46,0,1,1,0,0,1,0,0
1088,41,2018-05-08,2,1,Struff J.L.,Copil M.,65,92.0,855,672.0,...,1.63,2.30,0,1,1,0,0,1,0,0
1273,24,2018-05-29,4,1,Struff J.L.,Donskoy E.,71,79.0,830,726.0,...,1.38,3.10,0,1,1,0,0,0,1,0
1529,65,2018-07-02,4,1,Struff J.L.,Mayer L.,64,36.0,865,1235.0,...,2.58,1.51,0,1,0,1,0,0,1,0
1601,65,2018-07-04,4,2,Struff J.L.,Karlovic I.,64,112.0,865,480.0,...,2.30,1.62,0,1,0,1,0,0,1,0
2035,66,2018-08-20,0,1,Struff J.L.,Paire B.,52,55.0,975,955.0,...,2.19,1.67,0,1,0,0,1,1,0,0
2049,66,2018-08-20,0,2,Struff J.L.,Cecchinato M.,52,22.0,975,1734.0,...,1.55,2.45,0,1,0,0,1,1,0,0
2115,63,2018-08-28,4,1,Struff J.L.,Smyczek T.,58,103.0,905,545.0,...,1.50,2.62,0,1,0,0,1,0,1,0
2167,63,2018-08-30,4,2,Struff J.L.,Benneteau J.,58,60.0,905,891.0,...,1.48,2.71,0,1,0,0,1,0,1,0
2238,56,2018-09-18,0,1,Struff J.L.,Rublev A.,50,69.0,980,795.0,...,2.20,1.69,1,0,0,0,1,1,0,0
2357,48,2018-10-02,1,1,Struff J.L.,Cilic M.,56,6.0,910,4715.0,...,4.39,1.22,0,1,0,0,1,1,0,0
2366,48,2018-10-04,1,2,Struff J.L.,Chardy J.,56,42.0,910,1075.0,...,1.73,2.12,0,1,0,0,1,1,0,0
2437,23,2018-10-16,0,1,Struff J.L.,Lestienne C.,58,154.0,910,375.0,...,1.46,2.72,1,0,0,0,1,1,0,0
2445,23,2018-10-17,0,2,Struff J.L.,Lopez F.,58,70.0,910,770.0,...,1.58,2.39,1,0,0,0,1,1,0,0
2520,59,2018-10-23,1,1,Struff J.L.,Millman J.,52,36.0,935,1233.0,...,1.93,1.88,1,0,0,0,1,1,0,0

In [87]:
aaa = aaa[aaa["Player2"] == "Chardy J."]

aaa[["Player1", "Player2"]]

          Player1    Player2
2366  Struff J.L.  Chardy J.

Rateo 2/3 for Struff J.L. and 1/3 for Chardy J.
Im looking **LAST YEAR**

Seems work this too