In [1]:
from function import loadDataset, generalFormatting, addRateo, addFieldWR, addPrevWin, randomSwap

In [68]:
import pandas as pd

In [40]:
dataset = loadDataset("2019")

In [41]:
dataset

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,Lsets,Comment,B365W,B365L,PSW,PSL,MaxW,MaxL,AvgW,AvgL
0,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Dimitrov G.,...,0.0,Completed,1.36,3.00,1.36,3.37,1.42,3.60,1.35,3.18
1,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Raonic M.,...,0.0,Completed,1.18,4.50,1.23,4.68,1.27,4.84,1.22,4.26
2,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Kecmanovic M.,...,0.0,Completed,1.57,2.25,1.67,2.32,1.71,2.40,1.63,2.28
3,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Millman J.,...,1.0,Completed,1.40,2.75,1.41,3.13,1.45,3.20,1.40,2.95
4,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Uchiyama Y.,...,0.0,Completed,2.62,1.44,2.73,1.51,3.26,1.53,2.69,1.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2605,66,London,Masters Cup,2019-11-15,Masters Cup,Indoor,Hard,Round Robin,3,Nadal R.,...,1.0,Completed,1.44,2.75,1.39,3.26,1.48,3.30,1.41,2.93
2606,66,London,Masters Cup,2019-11-15,Masters Cup,Indoor,Hard,Round Robin,3,Zverev A.,...,0.0,Completed,1.90,1.90,2.14,1.79,2.24,2.06,1.92,1.90
2607,66,London,Masters Cup,2019-11-16,Masters Cup,Indoor,Hard,Semifinals,3,Tsitsipas S.,...,0.0,Completed,3.50,1.30,3.75,1.33,3.75,1.40,3.39,1.33
2608,66,London,Masters Cup,2019-11-16,Masters Cup,Indoor,Hard,Semifinals,3,Thiem D.,...,0.0,Completed,1.80,2.00,1.84,2.10,1.87,2.20,1.78,2.06
2609,66,London,Masters Cup,2019-11-17,Masters Cup,Indoor,Hard,The Final,3,Tsitsipas S.,...,1.0,Completed,2.00,1.80,2.00,1.93,2.05,1.93,1.96,1.86

In [42]:
dataset = generalFormatting(dataset)

In [44]:
old = dataset.loc[:10,:]
dataset = dataset.loc[:10,:]

In [52]:
# Swap tra due valori
def swap (a,b):
    c=a
    a=b
    b=c
    return a,b

In [65]:
import numpy as np
def randomSwap(df, randomNumber):
    copy = df.copy()
    swapCol=["Player1", "Player2"]
    for i in copy.columns:
        if "P1" in i or "P2" in i:
            swapCol.append(i)

    maxRow = copy.shape[0]
    print("Colonne")
    print(swapCol)
    for i in range(0,randomNumber):
        pos = np.random.randint(0,maxRow)
        for i in range(0, int(len(swapCol)/2)):
            index=i*2
            aa = swapCol[index]
            bb = swapCol[index+1]
            print("pre",copy.loc[pos,aa],copy.loc[pos,bb])
            copy.loc[pos,aa], copy.loc[pos,bb] = swap(copy.loc[pos,aa],copy.loc[pos,bb])
            print("post",copy.loc[pos,aa],copy.loc[pos,bb])
            
        if copy.loc[pos,"target"] == 0:
            copy.loc[pos,"target"] = 1
        else:
            copy.loc[pos,"target"] = 0
        
    return copy

In [70]:
dataset.drop(['P1_S1', 'P2_S1', 'P1_S2', 'P2_S2', 'P1_S3', 'P2_S3', 'P1_S4', 'P2_S4', 'P1_S5', 'P2_S5', 'P1_sets', 'P2_sets', 'P1_B365', 'P2_B365', 'P1_PS', 'P2_PS', 'P1_Max', 'P2_Max', 'P1_Avg', 'P2_Avg'], axis = 1, inplace = True)

In [71]:
dataset = randomSwap(dataset, 4)

Colonne
['Player1', 'Player2', 'P1_Rank', 'P2_Rank', 'P1_Pts', 'P2_Pts']
Player1 Player2
P1_Rank P2_Rank
P1_Pts P2_Pts
Player1 Player2
P1_Rank P2_Rank
P1_Pts P2_Pts
Player1 Player2
P1_Rank P2_Rank
P1_Pts P2_Pts
Player1 Player2
P1_Rank P2_Rank
P1_Pts P2_Pts

In [72]:
old[["Player1","Player2"]]

          Player1        Player2
0     Dimitrov G.    Nishioka Y.
1       Bedene A.      Raonic M.
2   Kecmanovic M.       Mayer L.
3     Sandgren T.     Millman J.
4      Humbert U.    Uchiyama Y.
5        Fritz T.       Kudla D.
6       Chardy J.    Struff J.L.
7       Murray A.   Duckworth J.
8      Kyrgios N.    Harrison R.
9     Tsonga J.W.  Kokkinakis T.
10   De Minaur A.     Popyrin A.

In [73]:
dataset[["Player1", "Player2","target"]]

          Player1       Player2  target
0     Dimitrov G.   Nishioka Y.       0
1       Raonic M.     Bedene A.       0
2   Kecmanovic M.      Mayer L.       0
3     Sandgren T.    Millman J.       1
4      Humbert U.   Uchiyama Y.       1
5        Fritz T.      Kudla D.       1
6     Struff J.L.     Chardy J.       1
7       Murray A.  Duckworth J.       0
8      Kyrgios N.   Harrison R.       0
9   Kokkinakis T.   Tsonga J.W.       1
10     Popyrin A.  De Minaur A.       1